---
---

<div class="flex flex-col justify-center items-center w-full h-screen container mx-auto p-10">
    <h1 class="sm:text-8xl text-8xl font-bold">its<span class="text-(--primary)">finn</span>iii</h1>
    <p>Junior Software Engineer</p>
</div>