---
import BlogPostIndexItem from "@/components/blogs/BlogPostIndexItem.astro";
import Pagination from "@/components/global/Pagination.astro";
import ProjectPostIndexItem from "@/components/projects/ProjectPostIndexItem.astro";
import { DemoBlogs } from "@/demodata/blogs";
import Layout from "@/layouts/Layout.astro";
import { getDate, getFullYear, getMonth } from "@/utils/date";
import type { PaginateFunction } from "astro";

export function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
    const paths: any[] = [];

    DemoBlogs.forEach((blog) => {
        paths.push({ params: { year: getFullYear(blog.date), month: getMonth(blog.date), date: getDate(blog.date), slug: blog.slug } })
    })

    return paginate(paths, { pageSize: 1 });
}

const { page } = Astro.props;
---

<Layout
    title="Projects"
    description="You can read about my projects I have worked on, and other big things I have been a part of."
    thumbnail={{
        alt: "Projects / itsfinniii",
        url: "https://picsum.photos/1200/630"
    }}
>
    <div class="flex flex-col container mx-auto p-8">
        <h1 class="sm:text-6xl text-4xl font-bold mb-2 mt-8">Projects</h1>
        <p class="text-lg mb-16">Here, I display projects I have worked on, and other big things I have been a part of.</p>

        <div class="flex flex-col gap-8">
        { DemoBlogs.map((project) => (
            <div class="mb-4">
                <ProjectPostIndexItem project={project} />
            </div>
        )) }
        </div>

        <div class="flex flex-row justify-center">
            <Pagination links={{
                firstUrl: page.url.first,
                previousUrl: page.url.prev,
                nextUrl: page.url.next,
                lastUrl: page.url.last
            }} numbers={{
                first: page.start,
                last: page.lastPage,
                current: page.currentPage
            }} />
        </div>
    </div>
</Layout>
